.App {
  text-align: center;
  background-color: #282c34;
  min-height: calc(100vh - 100px);
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 50px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.movie-details {
  padding: 10px;
}


.main-title-icon {
  font-size: 1.5em;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.orange, .main-title {
  color: orange;
}

.purple {
  color: purple;
}

.rate-container {
  border-top: solid 2px purple;
}


.rate-container span.fa {
  font-size: 2em;
  cursor: pointer;
}

.clickable-item {
  cursor: pointer;

}

.clickable-item:hover {
  border-radius: 6px;
  text-shadow: 1px 1px 10px #ebebeb;
}

.clickable-icon {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px white;
  font-size: large;
}

.clickable-icon:hover {
  /*border-radius: 6px;*/
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.51);
}

.movie-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.movie-item:hover {
  /*background-color: #1f2228;*/
  border-radius: 60px;
}

.cancel-button {
  width: 80%;
  padding: 16px;
  margin: 10px 0;
  background-color: #282c34;
  border: solid 1px #1f2228;
  color: white;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .3s;
  align-self: center;
}

.cancel-button:active {
  background-color: #383e49;
  /*box-shadow: 1px 1px 10px chocolate;*/
}

.cancel-button:hover {
  background-color: #383e49;
  border: solid 1px #1f2228;
  /*box-shadow: 1px 1px 10px orangered;*/
}

.add-button {
  width: 80%;
  padding: 16px;
  margin: 10px 0;
  background-color: #1f2228;
  border: solid 1px #1f2228;
  color: white;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .3s;
  align-self: center;
}

.add-button:active, .add-button:focus {
  background-color: #1f2228;
  /*box-shadow: 1px 1px 10px #101217;*/
}

.add-button:hover {
  border: solid 1px #383e49;
  background-color: #383e49;
  /*box-shadow: 1px 1px 10px #010105;*/
}

.add-button:disabled {
  width: 80%;
  padding: 16px;
  margin: 10px 0;
  background-color: #c9c9c9;
  border: solid 1px #c9c9c9;
  color: #6e6e6e;
  outline: none;
  border-radius: 10px;
  cursor: not-allowed;
}

.form-container {
  display: flex;
  flex-flow: column;
  /*align-items: center;*/
}

.input {
  width: 100%;
  padding: 16px;
  background-color: #1f2228;
  border: solid 1px #383e49;
  color: white;
  outline: none;
  border-radius: 10px;
  transition: background-color .3s;
}

.login-main {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-box {
  width: 30%;
  background-color: #282c34;
  display: flex;
  flex-flow: column;
}

.create-account {
  cursor: pointer;
  color: dodgerblue;
  align-self: flex-end;
  transition: color .3s;
}

.create-account:hover {
  color: #1976d0;
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-flow: column;
    text-align: left;
  }
}